mixin title(src, title_name)
    div(class="resume-title")
        img(src=src
            alt="education_icon"
            width="148"
            height="143")
        h2(class="resume-title__text") #{title_name} 