
mixin title(src, title_name,alt,width,height,img_class)
    div(class="title")(class!=attributes.class)
        img(src=src
            alt=alt 
            width=width
            height=height
            class=`title__img ${img_class}`)  
        h2(class="title__text") #{title_name} 

        