mixin title(src, name)
    div(class="resume-title")
        img(src=src
            alt="education_icon"
            width="148"
            height="143")
        span(class="resume-title__text") #{name} 