
mixin title(title_class, src,title_name,alt,width,height,img_class )
    div(class=`title ${title_class}`)
        img(src=src
            alt=alt 
            width=width
            height=height
            class= img_class)  
        h2(class="title__text") #{title_name} 

        

        